---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" color-mode="user">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>{title}</title>
    <script type="module">
      import '@material/web/all.js';
      import { styles as typescaleStyles } from '@material/web/typography/md-typescale-styles.js';

      document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    /* Material Design tokens will handle fonts */
  }

  * {
    margin: 0px;
    padding: 0px;
  }

  body {
    background-color: var(--md-sys-color-surface-container-lowest, #fff); /* Default fallback */
    color: var(--md-sys-color-on-surface, #000); /* Default fallback */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (max-width: 1200px) {
    body {
      align-items: flex-start;
    }
  }
</style>
